#teams-column{
    position: fixed;
    /* display: none; */
    background-color: rgb(208, 215, 220);
    color: black;
    height: 98%;
    margin-bottom: 20px;
    width: 80px;
    border-radius: 25px;
    z-index: 100;
    overflow: auto;
    /* border-top-left-radius: 25px; */
    /* border-top-right-radius: 25px; */
}

#teams-column::-webkit-scrollbar {
    display: none;
}


.general-buttons{
    display: flex;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(204, 209, 212);

    margin-left: 5px;
    margin-right: 5px;
    border-width: 100px;
    border-bottom-color: rgb(0, 0, 0);
    font-size: 15px ;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#create-team-button{
    /* display: flex; */
    padding: 15px;
    border-radius: 10px;
    min-width: 100px !important;
    background-color: rgb(204, 209, 212);
    width: fit-content !important;
    /* margin-left: 5px;
    margin-right: 5px; */
    border-width: 100px;
    border-bottom-color: rgb(0, 0, 0);
    font-size: 15px ;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#back{
    /* display: flex; */
    padding: 15px;
    border-radius: 10px;
    min-width: 100px !important;
    background-color: rgb(204, 209, 212);
    width: fit-content !important;
    /* margin-left: 5px;
    margin-right: 5px; */
    border-width: 100px;
    border-bottom-color: rgb(0, 0, 0);
    font-size: 15px ;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.general-buttons:hover{
    background-color: rgb(44, 121, 202);
    color: rgb(137, 187, 226);
    cursor: pointer;
}
body {
    background-color: rgb(237, 243, 246);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

    .custom-body {
        position:fixed;
        /* display: flex; */
        /* flex-wrap: wrap; */
        top: 10vh;
        left: 40vh;
        right: 40vh;
        /* left: max(40vh, 20vh); */
        width: calc(67.5%);
        /* min-width: inherit; */
        /* min-height: 100%; */
        height: 90vh;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        /* border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
        /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
        padding-top: 15px;
        line-height: 1.5;
        padding-bottom: 20px;
        overflow: auto;
        transition: background-color 1s ease;
    }

    .custom-body::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }
    
    .custom-body::-webkit-scrollbar-track {
        background: #f0f0f0; /* Background of the scrollbar track*/
        border-radius: 50px;
    }
    
    .custom-body::-webkit-scrollbar-thumb {
        background: #236fc6; /* Color of the scrollbar thumb */
        border-radius: 6px; /* Rounded corners for the scrollbar thumb */
    }
    
    .custom-body::-webkit-scrollbar-thumb:hover {
        background: #255f92; /* Darker color on hover */
    }

    @media (max-width: 1024px) {
        body{
            background-color: rgb(143, 178, 214);
        }
    .custom-body {
            /* position:fixed; */
            display: flex;
            flex-wrap: wrap;
            top: 10vh;
            left: 10vh;
            right: 40vh;
            width: calc(67.5%);
            height: 90vh;
            background-color: white;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 15px;
            line-height: 1.5;
            padding-bottom: 20px;
            overflow: auto;
            transition: background-color 1s ease;
        }
        #admin-page-header {
            left: 10vh !important;
            right: 40vh;
            background-color: rgb(44, 121, 202);
            color: white;
            width: calc(67.5%);
            height: 100vh;
            padding: 3vh;
            font-size: 40px;
            border-radius: 3vh;
            padding-left: 30px;
            padding-right: 30px;
        }

        #team-info {
            padding: 10px;
            border: none;
            border-radius: 10px;
            width: 160px;
            text-align: left;
            background-color: transparent;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 20px;
            /* height: 10vh; */
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .text-bar-container{
            display: flex;
            /* flex-wrap: wrap; */
            flex-grow: 0;
            align-items: center;
            gap: 10px;
            width: calc(1%) !important;
            /* min-width: 65vw; */
            height: 5vh !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            background-color: rgba(255, 255, 255, 0);
            border-radius: 1vh !important;
            margin-bottom: 50px !important;
        }

        .text-bar-container > * {
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .menu{
            position: fixed;
            background-color: rgb(0, 117, 212);
            color: black;
            height: 0px;
            width: 0px;
            border-radius: 25px;
            z-index: 10;
            left: 100px;   
            top: 10px;
            transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
            animation: growAnimation 0.5s ease-in-out;
            visibility: hidden;
            overflow: hidden;
        }

        #upload-image{
            border-radius: 10px;
            height: calc(100% + 1vh) !important;
            width: 12vh !important;
            /* background-color: rgba(240, 248, 255, 0); */
            /* border-color: rgba(240, 248, 255, 0); */
            /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75); */
            display: flex;
            justify-content: center;
        }

        #send-msg{
            height: inherit !important;
            width: 10vh !important;
            background-color: rgb(44, 121, 202);
            color: white;
            border: none;
            font-size: 20px !important;
            border-radius: 0.5vh !important;
        }

        #emojis{
            height: inherit !important;
            width: 10vh !important;
            background-color: rgb(44, 121, 202);
            color: white;
            border: none;
            font-size: 3vh !important;
            border-radius: 0.5vh !important;
        }

        #text-bar{
            border-radius: 1vh;
            overflow-wrap: break-word;
            min-width: 0px;
            /* position: relative; */
            /* top: calc(100% - 20vh); */
            /* width: 100%; */
            height: calc(100% - 2px) !important;
            /* background-color: rgb(44, 121, 202); */
            overflow-y: hidden;
            /* min-height: 10px; */
            padding: 2vw;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-width: 0.1vh;
            /* display: flex;
            flex-wrap: wrap; */
            text-align: justify;
            /* text-justify: auto; */
            
            /* min-width: 65vw; */
        }
        .NameInput{
            font-size: 1px !important;
        }
    }
    #admin-page-header {
        position: fixed;
        z-index: -1;
        left: 40vh;
        right: 40vh;
        /* background-image: url(realbook2.jpg); */
        background-color: rgb(44, 121, 202);
        color: white;
        /* background-size: cover; */
        /* width: inherit; */
        width: calc(67.5%);
        height: 100vh;
        padding: 3vh;
        font-size: 3vh;
        /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
        border-radius: 3vh;
        padding-left: 30px;
        padding-right: 30px;
        /* min-width: inherit; */
    }
#list-of-channels {
    display: none;
    height: 50px;
    width: 100px;
    background-color: white;
}
#search {
    position: fixed;
    top: 537px;
    left: 1050px;
    width: 30px;
}
.teamlist{
    display: none;
}
.text1{
    /* display: none; */
    width:  847px;
    height: 520px;
    overflow: auto;
    border: none;
    background-color: white;
    border-top-left-radius: 10px;
}
.text1channels{
    display: none;
    width:  847px;
    height: 520px;
    overflow: auto;
    border: none;
    background-color: white;
    border-top-left-radius: 10px;
}
#team-listin-body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

#team-listin-body::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the scrollbar track*/
    border-radius: 50px;
}

#team-listin-body::-webkit-scrollbar-thumb {
    background: #236fc6; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

#team-listin-body::-webkit-scrollbar-thumb:hover {
    background: #255f92; /* Darker color on hover */
}

.friends-icon{
    position: relative;
    top: 5px;
    left: 8px;
    width: 25px;
    background-color: rgb(44, 121, 202);
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: padding 0.2s ease-in-out, left 0.2s ease-in-out, background-color 0.2s ease;
}

.friends-icon:hover{
    background-color: rgb(117, 165, 216);
    padding: 25px;
    left: 3px;
}

.friends-icon:hover + .menu{
    display: block;
    z-index: 10;
    left: 100px;
    top: 20px;
}

.team-profile{
    position: relative;
    text-align: center;
    top: 5px;
    left: 12px;
    width: 25px;
    height: 25px;
    background-color: white;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 17px;
    transition: padding 0.2s ease, left 0.2s ease;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    font-size: 30px;
}

.team-profile:hover{
    background-color: rgb(44, 121, 202);
    padding: 22px;
    padding-top: 18px;
    padding-bottom: 24px;
    left: 6px;
}

.line-under-friends-icon{
    width: 25px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 27px;
}
#friend-addition-form {
    display: none;
    background: transparent;
    text-align: center;
}

#channel-addition-form {
    display: none;
    background: transparent;
    text-align: center;
    margin-top: 100px;
}

#avatar {
    width: 30px;
    border-radius: 50px;
    /* left: 750px; */
    top: 20px;
    position: relative;
    margin: 10px;
}

#team-name{
    position: relative;
    left: -25px;
    border-radius: 50px;    
    height: 30px;
    width: 400px;
    padding-left: 20px;
}

.NameInput{
    font-size: 16px;
}
#NameInput-useradd{
    position: relative;
    left: 10px;
    border-radius: 50px;    
    height: 30px;
    width: 400px;
    padding-left: 20px;
}

#RoleInput{
    position: relative;
    left: 5px;
    border-radius: 50px;
    height: 30px;
    width: 500px;
    padding-left: 20px;
}

#search-users{
    position: relative;
    left: 15px;
    border-radius: 50px;
    border-width: 3px;
    border-top: none;
    border-left: none;
    background-color: rgb(0, 115, 255);
    color: white;
}

/* #create-team-button {
    position: relative;
    top: 20px;
    left: 300px;
} */

#RoleInput-placeholder {
    position: relative;
    left: -75px;
} 

#NameInput-placeholder {
    position: relative;
    left: -53px;
}

#dest-channelInput {
    position: relative;
    top: -5px;
    left: -50px;
    border-radius: 50px;    
    height: 30px;
    width: 400px;
    padding-left: 20px;
}

.vertical-line {
    border-left: 2px solid black; 
    height: 200px; 
    margin-left: 20px; 
}

#team-bar-icon {
    position: relative;
    left: -25px;
    top: -20px;
    /* background-size: fill; */
    object-fit: cover;
    width: 350%;
    height: 350%;
}

.teamname {
    position: relative;
    left: 50px;
    top: -40px;
}

#team-listin-body {
    border: none;
    height: 500px;
    width: 830px;
}

@keyframes growAnimation {
    0% { width: 0px; height: 0px; }
    100% { width: 200px; height: 300px; }
}

.menu{
    position: fixed;
    background-color: rgb(0, 117, 212);
    color: black;
    height: 300px;
    width: 200px;
    border-radius: 25px;
    z-index: 10;
    left: 100px;   
    top: 10px;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
    animation: growAnimation 0.5s ease-in-out;
    visibility: hidden;
    overflow: hidden;
}

#menu-name{
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px ;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#arrow {
    width: 20px;
    height: 25px;
    left: 72px;
    top: 10px;
    position: relative;
}
#arrow1 {
    width: 20px;
    left: 80px;
    top: 2px;
    position: relative;
}
#arrow2 {
    width: 20px;
    height: 25px;
    left: 102px;
    top: 10px;
    position: relative;
}

#arrow3 {
    width: 20px;
    left: 95px;
    top: 2px;
    position: relative;
}

#link{
    text-decoration-line: none;
    color: black;
    width: 100%;
}

.profile-icon{
    position: relative;
    left: -30px;
    top: -30px;
    /* background-size: fill; */
    object-fit: cover;
    width: 350%;
    height: 350%;
}

.profile-icon:hover + .profile-name{
    display: block;
    z-index: 10;
    left: 100px;
    top: 300px;
}

.profile-name{
    display: none;
    position: fixed;
    top: 20vh;
    padding: 15px;
    border-radius: 10px;
    width: 160px;
    background-color: rgb(204, 209, 212);

    margin-left: 5px;
    margin-right: 5px;
    border-width: 100px;
    border-bottom-color: rgb(0, 0, 0);
    font-size: 15px ;
    cursor: pointer;
}

#pop-up{
    display: none;
    flex-direction: row;
    position: fixed;  
    align-items: center;  
    justify-content: center;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.598);
    width: 100%;
    height: 100%;
    top: 0%; 
    left: 0%;
}

#inside-pop-up{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

@keyframes growAnimation {
    0% { top: 2500px}
    100% { top: 0px; }
}

#profile-pop-up{
    /* display: none; */
    /* position: fixed; */
    background-color: rgb(0, 117, 212);
    color: white;
    height: 250px;
    width: fit-content;   
    border-radius: 15px;
    z-index: 100;
    animation: growAnimation 0.5s ease-in-out;
    /* float:calc(50% + 2vw); */
    /* left: calc(100% - 75vw);
    top: calc(100% - 75vh); */
    padding: 10px;
    overflow: auto;
    align-self: center;
}

#profile-pop-up::-webkit-scrollbar{
    display: none;
}

#team-desc{
    position: relative;
    left: -45px;
    width: 420px;
    height: 50px;
    border-radius: 20px;
}

/* #create-team-button {
    position: relative;
    top: 12.5vh;
    left: 49vw;
} */

#team-addition-form{
    display: none;
}

#teams-container{
    height: fit-content;
    max-height: 58%;
    overflow: auto;
}

#teams-container::-webkit-scrollbar {
    display: none;
}

.users-channels {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-bottom: 30px; */
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.users-channels:hover {
    background-color: rgb(44, 121, 202);
}

#custom-team-container{
    height: fit-content;
    max-height: 75%;
    overflow: auto;
    overflow-x: hidden;
}
#custom-team-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

#custom-team-container::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the scrollbar track*/
    border-radius: 50px;
}

#custom-team-container::-webkit-scrollbar-thumb {
    background: #236fc6; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

#custom-team-container::-webkit-scrollbar-thumb:hover {
    background: #255f92; /* Darker color on hover */
}